*.o
*.d
*~
*.a
brot2
brot2cli
b2test
b2dumpmsg
palette_benchmark
plot_benchmark
debian/brot2.debhelper.log
debian/brot2.postinst.debhelper
debian/brot2.postrm.debhelper
debian/brot2.substvars
debian/files
logo_auto.c
uixml_auto.c
.gdbinit
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.aux
configure
config.h
config.h.in
config.log
config.status
stamp-h1
.deps
.project
.cproject
.settings
.dirstamp
gtest
*.sw?
messages/brot2msgs.pb.cc
messages/brot2msgs.pb.h
b2test.log
b2test.trs
test-suite.log
test/b2test.valgrind.log
test/b2test.valgrind.trs
debian/debhelper-build-stamp
debian/.debhelper
