*.o
*.d
*~
*.a
brot2
brot2cli
b2benchmark
b2test
debian/brot2.debhelper.log
debian/brot2.postinst.debhelper
debian/brot2.postrm.debhelper
debian/brot2.substvars
debian/files
logo_auto.c
uixml_auto.c
.gdbinit
INSTALL
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.aux
configure
config.h
config.h.in
config.log
config.status
stamp-h1
.deps
.project
.cproject
.settings
.dirstamp
gtest
*.sw?
