Source: brot2
Section: graphics
Priority: optional
Maintainer: Ross Younger <crazyscot@gmail.com>
Build-Depends: debhelper (>= 11), autoconf (>= 2.67), automake (>=1.15), libgtk2.0-dev (>=2.24), libglib2.0-dev (>= 2.28), libgtkmm-2.4-dev (>= 2.24), libglibmm-2.4-dev (>= 2.28), libpng12-dev (>= 1.2.41) | libpng-dev, libgdk-pixbuf2.0-dev, libcairo2-dev (>= 1.10), libpango1.0-dev (>= 1.28), libgtest-dev (>= 1.6.0), valgrind, libsigc++-2.0-dev, libpng++-dev (>= 0.2.5), libavformat-dev, libavcodec-dev, libswscale-dev, libavresample-dev, libavutil-dev, libprotobuf-dev, protobuf-compiler
Standards-Version: 4.4.1
Vcs-Git: https://github.com/crazyscot/brot2.git
Vcs-Browser: https://github.com/crazyscot/brot2

Package: brot2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: parallel, ffmpeg
Description: Yet Another interactive Mandelbrot plotter
 This is a GTK+-based interactive plotter for the Mandelbrot set and
 other fractals. 

